@charset 'UTF-8';

@font-face
{
	font-family: 'FontAwesome';
	src: asset-url('fontawesome-webfont.eot?v=3.0.1');
	src: asset-url('fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
         asset-url('fontawesome-webfont.woff?v=3.0.1') format('woff'),
         asset-url('fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
         asset-url('fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Font-Awesome-Social';
	src: asset-url('fontawesome-social-webfont.eot');
	src: asset-url('fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('fontawesome-social-webfont.woff') format('woff'),
         asset-url('fontawesome-social-webfont.ttf') format('truetype'),
         asset-url('fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}
