#page.container
  %div
    %a.image.image-full{:href => "#"}
      %img{:alt => "", :src => ""}/
  .column1
    .title
      %h2 Maecenas luctus
      %span.byline Pellentesque lectus gravida blandit
    %p
      This is
      = succeed "," do
        %strong Reciprocal
      = succeed "." do
        %a{:href => "http://templated.co", :rel => "nofollow"} TEMPLATED
      = succeed "." do
        %a{:href => "http://fotogrph.com/"} Fotogrph
      %a{:href => "http://templated.co/license"} Creative Commons Attribution
      license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
    %a.button{:href => "#"} Etiam posuere
  .column3
    .title
      %h2 Mauris vulputate
    %img{:alt => "", :height => "150", :src => "", :width => "282"}/
    %p Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit.
    %a.button{:href => "#"} Etiam posuere
  .column4
    .title
      %h2 Praesent tempor
    %img{:alt => "", :height => "150", :src => "", :width => "282"}/
    %p Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus.
    %a.button{:href => "#"} Etiam posuere
#portfolio-wrapper
  #portfolio.container
    .title
      %h2 Aenean elementum
      %span.byline Integer sit amet pede vel arcu aliquet pretium
    .column1
      .box
        %span.icon.icon-cloud-download
        %h3 Vestibulum venenatis
        %p Fermentum nibh augue praesent a lacus at urna congue rutrum.
        %a.button{:href => "#"} Etiam posuere
    .column2
      .box
        %span.icon.icon-coffee
        %h3 Praesent scelerisque
        %p Vivamus fermentum nibh in augue praesent urna congue rutrum.
        %a.button{:href => "#"} Etiam posuere
    .column3
      .box
        %span.icon.icon-globe
        %h3 Donec dictum metus
        %p Vivamus fermentum nibh in augue praesent urna congue rutrum.
        %a.button{:href => "#"} Etiam posuere
    .column4
      .box
        %span.icon.icon-dashboard
        %h3 Mauris vulputate dolor
        %p Rutrum fermentum nibh in augue praesent urna congue rutrum.
        %a.button{:href => "#"} Etiam posuere