#page.container
  %row
    %a.image.image-full{:href => "#"}
      %img{:alt => "", :src => ""}/
  .col-md-4
    .title
      %h2 Rates
      %span.byline offering best rates in the town
    %p
      %strong
        TelcEdge
      has ranges in more than 10 countries, where we provide best payouts on the market. Our total coverage is more than 100 countries around the globe.
    %a.button{:href => "#"} Check Rates
  .col-md-4
    .title
      %h2 Contact us now

    .skype
      %a(href="skype:bukhari.communications?call" class="thickbox")
        %span
          User 1
        %img(src="/assets/common/skype.png"  height="22" alt="Skype status")
      %a(href="skype:bukhari.communications?call" class="thickbox")
        %span
          User 2
        %img(src="/assets/common/skype.png"  height="22" alt="Skype status")
      %a(href="skype:bukhari.communications?call" class="thickbox")
        %span
          User 3
        %img(src="/assets/common/skype.png"  height="22" alt="Skype status")
      %a(href="skype:bukhari.communications?call" class="thickbox")
        %span
          User 4
        %img(src="/assets/common/skype.png"  height="22" alt="Skype status")
  .col-md-4
    .title
      %h2 News
    .list-group
      %a.list-group-item.active{:href => "#"}
        %h4.list-group-item-heading News Heading 1
        %p.list-group-item-text News Description
      %a.list-group-item{:href => "#"}
        %h4.list-group-item-heading News Heading 2
        %p.list-group-item-text List News Description
      %a.list-group-item{:href => "#"}
        %h4.list-group-item-heading News Heading 3
        %p.list-group-item-text News Description

#portfolio-wrapper
  #portfolio.container
    .title
      %h2.font-18 Let’s join with us to get the incredible experience in international premium number business.
    .l-submain
      .l-submain-h.g-html.i-cf
        .g-cols
          .one-quarter
            .w-iconbox.iconpos_top
              .w-iconbox-h
                %span.w-iconbox-nolink
                  .w-iconbox-icon
                    %i.fa.fa-usd
                  %h4.w-iconbox-title Various Payment Method
                .w-iconbox-text
                  %p We offer Wire Bank, Money Gram and Western Union Payment
          .one-quarter
            .w-iconbox.iconpos_top
              .w-iconbox-h
                %span.w-iconbox-nolink
                  .w-iconbox-icon
                    %i.fa.fa-arrow-circle-o-up
                  %h4.w-iconbox-title Increase Revenue
                .w-iconbox-text
                  %p Increase your revenue with our full amount payment
          .one-quarter
            .w-iconbox.iconpos_top
              .w-iconbox-h
                %span.w-iconbox-nolink
                  .w-iconbox-icon
                    %i.fa.fa-mobile
                  %h4.w-iconbox-title Vast Termination
                .w-iconbox-text
                  %p Get your access on 500+ our termination
          .one-quarter
            .w-iconbox.iconpos_top
              .w-iconbox-h
                %span.w-iconbox-nolink
                  .w-iconbox-icon
                    %i.fa.fa-desktop
                  %h4.w-iconbox-title Multi Browser Platforms
                .w-iconbox-text
                  %p Access our system with mobile and desktop browser