%p
  \© Untitled. All rights reserved. Design by
  = succeed "." do
    %a{:href => "http://templated.co", :rel => "nofollow"} TEMPLATED
  = succeed "." do
    %a{:href => "http://fotogrph.com/"} Fotogrph