#logo(ng-controller="HeaderCtrl")
  %h1
    %a{:href => "#"} Reciprocal
#social
  %ul.contact
    %li
      %a.icon-large.icon-twitter-t{:href => "#"}
        %span Twitter
    %li
      %a.icon.icon-facebook{:href => "#"}
        %span
    %li
      %a.icon.icon-dribbble{:href => "#"}
        %span Pinterest
    %li
      %a.icon.icon-tumblr{:href => "#"}
        %span Google+
    %li
      %a.icon.icon-rss{:href => "#"}
        %span Pinterest
