%ul
  %li.current_page_item
    %a{:accesskey => "1", :href => "#", :title => ""} Homepage
  %li
    %a{:accesskey => "1", :href => "#", :title => ""} Services
  %li
    %a{:accesskey => "2", :href => "#", :title => ""} Our Clients
  %li
    %a{:accesskey => "3", :href => "#", :title => ""} About Us
  %li
    %a{:accesskey => "4", :href => "#", :title => ""} Careers
  %li
    %a{:accesskey => "5", :href => "#", :title => ""} Contact Us
